<!DOCTYPE html>
<html lang="en">    
<head>

<title>
     About exercise
</title>

</head>
It is good to exercise

<body>



    <h1>
        It helps your body by exercising the musculartory system.
            
        </body>
    </h1>
    <h3>
        What if you were 1km away from your house and you can't run 1km. What would you do then?
    </h3>
    <small>¥
        Exercise is a good way to make you body healhty.
        The more you exercise the stronger your muscles are.
        Exercise may be painful but the more you exercise the more you can run so you might be able to run the 1km.
    </small>









</body>
